DATABASE_URL=url
DATABASE_PORT=port

JWT_SECRET=secret
JWT_EXPIRES_IN=expire

REFRESH_JWT_SECRET=secret
REFRESH_JWT_EXPIRES_IN=expire

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret